.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 568px) {
  .root {
    width: auto;
    justify-self: flex-start;
    background: #222333;
    display: inline-flex;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 650px;
  height: auto;
  max-width: 100%;
  background: var(--token-as44I7WwR-rZ);
  margin-right: 0px;
  padding: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 568px) {
  .freeBox {
    background: #222333;
  }
}
