.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: url("https://wallpapers.com/images/featured/football-stadium-wpbk2e4mrt3gz1mz.jpg")
      top 50% left 50% / cover repeat,
    var(--token-_Z-x7YSfdB4D);
  padding-bottom: 0px;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .root {
    padding-bottom: 91px;
    grid-row-gap: 32px;
    justify-items: center;
    align-content: center;
  }
}
@media (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  margin-top: 100px;
  min-width: 0;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 45px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  --plsmc-rc-col-gap: 16px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns {
    background: #f5f5f52e;
    flex-grow: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  padding: 8px;
}
.column > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .column {
    padding-bottom: 8px;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .column > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 768px) {
  .column > :global(.__wab_flex-container) > *,
  .column > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column > :global(.__wab_flex-container) > picture > img,
  .column
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__lxqfa {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 318px;
  height: 136px;
  margin-bottom: 0px;
  cursor: pointer;
  flex-shrink: 0;
}
.img__lxqfa > picture > img {
  object-fit: contain;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-w7ybUCajlWG4);
  font-weight: 700;
  font-size: 18px;
  padding-top: 10px;
  min-width: 0;
}
.img__xWmDf {
  position: fixed;
  object-fit: cover;
  max-width: 100%;
  width: 70px;
  left: auto;
  top: auto;
  z-index: 1;
  height: auto;
  bottom: 0;
  right: 0;
  margin-right: 8px;
}
.img__xWmDf > picture > img {
  object-fit: cover;
}
